<div class="searchcontainer">
   <form class="navbar-form navform" role="search">
              <div class="form-group nnav">
                <input type="text" class="form-control hello" placeholder="Enter your location to search for parking lots nearby">
                <button type="submit" style="visibility: hidden;" class="btn btn-primary">Go</button>
              </div>
            </form>

</div>



<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Parking Club</h1>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>