<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <img src="/assets/parkingclub8.png">
      <div class="nav-collapse collapse navynav">
        <div class="pull-right navnav navbar-btn">
          <a href="#" class="btn btn-default">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
