<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <img src="/assets/parkingclub5.png">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control park" placeholder="Enter a location...">
        <button type="submit" class="btn btn-primary">Go</button>
      </div>
    </form></li>
        </ul>
        <div class="pull-right">
          <a href="#" class="btn btn-success">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>