<div class="navbar-fixed-bottom navbar navbar-default navbar-inverse navfooter">
  <div class="nav-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <div class="pull-right navnav">
          <%= link_to "Business Solutions", new_owner_users_path %>
        </div>
      </div>
    </div>
  </div>
</div>
