<!-- <div class="navbar-fixed-bottom navbar navbar-default navbar-inverse navfooter">
  <div class="nav-inner navfooter-inner">
    <div class="container navfooter-container">
      <div class="nav-collapse collapse navfooter-collapse">
        <div class="pull-right navfooter-pull-right">
          <%= link_to "Business Solutions", new_owner_users_path %>
        </div>
      </div>
    </div>
  </div>
</div>
 -->