@import "bootstrap";

body {
  padding-top: 45px;

}

.navbar

.form-group > .park {
    background-color: #3B3B3B;
    border-color: black;
    color: white;
}

.container > img {
  
  width: 35px;
  height: 45px;
  float: left;
  margin-left: 6px;
}

.jumbotron {
  background-color: #eeeeee;
  width: 100%;
   .container {
   text-align: center;
   }

}

.naaav > .navinner > .navcontainer > .naynav {
  
  height: 50px;
}