// Place all the styles related to the lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lot-form {
  margin: 0 auto;
  width: 700px;
  height: 300px;
  margin-top: 20px;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.lot-info {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.map {  
  margin-right: 20px;
}

.test-lot-search {
  margin-top: 70px;  

}