// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: rgba(255, 255, 255, 0.3);
  width: 366px;
  height: 100%;
  float: left;
  position: fixed;

  .sidebar {
  float: left;
  width: 100%;
  height: 100%;
  }

  .lot-search {
    width: 100%;
    height: 200px;

    .searchbar {
      width: 99.5%;
      height: 60px;
      margin: 0 auto;
      padding: 0px;
      border-radius: 0px;
      text-align: center;
      font-size: 18px;
    }

    .search-side-button {
    height: 60px;
    width: 100%;
    }
  }
}

.hideside {
  display: none;
}
